[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
coverage = "==5.3.1"
dask = "*"
flake8 = "*"
isort = "*"
numpy = "*"
omegaconf = "*"
pandas = "*"
pint-xarray = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
regex = "*"
tqdm = "*"
xarray = "*"
MetPy = "*"
netCDF4 = "*"
Pint = "*"
Pint-Pandas = "*"
PyYAML = "*"

[dev-packages]

[requires]
python_version = "3.9"
