[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
numpy = "*"
xarray = "*"
omegaconf = "*"
netCDF4 = "*"
cftime = "*"
tqdm = "*"
dask = "*"
toolz = "*"

[dev-packages]
black = "==20.8b1"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
