name: Test

on: 
  pull_request: {}
  push:
    branches: master
    tags: "*"

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies with pip
        run: |
          python -m pip install -e .[dev]

      - uses: pre-commit/action@v3.0.1
  test_converter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies with pip
        run: |
          python -m pip install -e .[dev]

      - name: Run conversion tests
        run: |
          pytest test/test_pysonde.py
          pytest test/test_mwx_output.py
          pytest test/test_cor_output.py
      - name: Run coverage tests
        run: |
          pytest --cov --cov-fail-under=50
  test_plotting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install dependencies with pip
        run: |
          python -m pip install -e .[dev]
      - name: Create plots
        run: |
          python scripts/plot_radiosonde_data.py -i examples/level1/EUREC4A_BCO_Vaisala-RS_L1-ascent_20200126T2244_v3.0.0.nc -o artifacts
      - name: Upload plots
        uses: actions/upload-artifact@v3
        with:
          name: figures
          path: |
            artifacts
