name: Test

on: 
  pull_request: {}
  push:
    branches: master
    tags: "*"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.9

      - name: Install dependencies with pip
        run: |
          python -m pip install -e .

      - run: isort --recursive --diff .
      - run: black --check --diff .
      - run: flake8
      - run: mypy
      - run: pytest --cov --cov-fail-under=50
